@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Share+Tech&display=swap');



body {
  background-color: #ffedb8;
  margin: 0;
}
* {
  font-family: "Comfortaa", sans-serif;
}


